/* general */
* {
  box-sizing: border-box;
}

html,
body,
header,
.view {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(238, 232, 222, 1);
  scroll-behavior: smooth;
}

.section-heading {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.underline:hover::after {
  width: 100%;
  transition: width 0.3s;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

h1 {
  letter-spacing: 8px;
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

h5 {
  letter-spacing: 3px;
  font-weight: 300;
}

hr {
  opacity: 1;
  margin: auto;
}

.hr-light {
  border-top: 3px solid black;
  width: 80px;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
  outline: none !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.remove-margin {
  margin: 0;
}

/* heading */
.logo {
  width: 40px;
}

.nav-item {
  margin: 0 0.3rem;
}

.navbar {
  background-color: rgba(238, 232, 222, 1) !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(90, 90, 90, 0.5) !important;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  margin: 0 1rem;
}

.navbar-collapse {
  background: transparent !important;
  flex-grow: 0;
}

.top-nav-collapse {
  background-color: rgb(238, 232, 222, 1) !important;
  border-bottom-color: transparent !important;
  border-bottom-width: 1px !important;
}

.navbar:not(.top-nav-collapse) {
  background: rgba(238, 232, 222, 0.7);
  border-bottom-color: transparent;
  border-bottom-width: 1px;
}

.background {
  background-image: url("/src/assets/A_level_maths.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.centerTitle {
  margin-top: 200px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(238, 232, 222, 0.85);
}

/* about */
#aboutMe {
  background-color: rgb(90, 90, 90);
  color: whitesmoke;
}

#profilePhoto {
  width: 100%;
  border-radius: 5%;
  background-size: cover;
  border: 10px solid rgba(238, 232, 222, 1);
  max-height: 350px;
  max-width: 350px;
}

/* testimonials */
#testimonials {
  background-color: rgba(238, 232, 222, 1);
}

.font-italic {
  font-style: italic;
}

.carousel {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.carousel-inner {
  height: max-content;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: unset;
  opacity: 0;
  transition: opacity 1s !important;
}

.carousel-item.active {
  opacity: 1;
  transition: opacity 1s !important;
}

.carousel-caption {
  width: 100%;
  text-align: right;
  position: unset;
  right: 0;
  left: 0;
  padding: 0;
  color: black;
}

.caption-text {
  font-weight: 400;
}

.carousel-indicators {
  position: inherit;
  order: 2;
  margin: auto;
}

.carousel-text {
  margin: 0;
}

#write-review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.reviewBtn {
  background: rgba(86, 80, 80, 0.1);
  color: black;
  border: 2px solid rgba(90, 90, 90, 0.95) !important;
  width: 50% !important;
  overflow: hidden;
  transition: 0.6s all ease;
}

/* services */
#services {
  background-color: rgba(86, 80, 80, 0.8);
  color: rgba(238, 232, 222, 1);
  padding: 3rem 0;
  background-image: url("/src/assets/services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sine-wave {
  width: 90px;
}

/* recommendations */
#recommendations {
  background-color: rgba(238, 232, 222, 1);
  color: black;
}

.recommendationsCard {
  color: whitesmoke;
}

.recommendation-icons {
  justify-content: center;
  margin-bottom: 1rem;
}

.recommendation-icon {
  width: unset !important;
}

/* faq */
#faqs {
  background-color: rgba(90, 90, 90, 1);
  color: whitesmoke;
}

.active-faq {
  background-color: rgba(238, 232, 222, 1);
  color: black !important;
}

.faqBtn {
  color: whitesmoke;
  text-align: left;
  width: 100% !important;
  white-space: normal !important;
}

.faqBtn:hover {
  background: rgba(238, 232, 222, 1);
  color: black;
}

.accordion {
  width: 100%;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-header {
  border-radius: 0;
  margin-bottom: -1px;
  padding: 0.75rem 1.25rem;
}

.card {
  background-color: rgba(90, 90, 90, 0.965);
  overflow: hidden;
}

.card-body {
  background: rgba(238, 232, 222, 1);
  color: black;
  overflow: hidden;
  transition: max-height 0.5s linear, padding 0.5s ease-in-out;
  -moz-transition: max-height 0.5s linear, padding 0.5s ease-in-out;
  -ms-transition: max-height 0.5s linear, padding 0.5s ease-in-out;
  -o-transition: max-height 0.5s linear, padding 0.5s ease-in-out;
  -webkit-transition: max-height 0.5s linear, padding 0.5s ease-in-out;
  max-height: 0;
  padding: 0 1.25rem;
  border: none;
}

.card-body:hover {
  cursor: pointer;
}

.show {
  max-height: 500px;
  padding: 1.25rem;
  border-top: 1px solid black;
}

.dropdown-arrow {
  margin-right: 1em;
  transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.rotate {
  transform: rotate(90deg);
}

/* contact */
#contact {
  background-color: rgba(238, 232, 222, 1);
  justify-content: center;
}

#contact-form {
  width: 70%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(90, 90, 90, 0.95);
  height: 45px !important;
  color: black;
}

.form-control:focus {
  background-color: transparent !important;
  outline: none !important;
  color: rgba(90, 90, 90, 0.95);
}

.form-control::placeholder {
  color: rgba(90, 90, 90, 0.95);
  opacity: 0.7;
}

.messageForm {
  transition: 0.6s all ease;
}

.messageForm:focus {
  height: 120px !important;
}

.contactBtn {
  background: rgba(86, 80, 80, 0.1);
  color: black;
  border: 2px solid rgba(90, 90, 90, 0.95);
  width: 50% !important;
  overflow: hidden;
  transition: 0.6s all ease;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* footer */
#copyright {
  background-color: rgba(238, 232, 222, 1);
  color: rgba(90, 90, 90, 1) !important;
  display: flex;
  flex-direction: column;
}

#contactDetails {
  background-color: rgba(238, 232, 222, 1);
}

#contact-methods {
  display: flex;
  width: 100%;
}

.contact-method {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-contact {
  color: rgba(90, 90, 90, 0.95);
  margin-top: 0.5rem;
}

.contactBtn:hover,
.reviewBtn:hover {
  background: rgba(86, 80, 80, 0.6);
  color: whitesmoke;
  border: 2px solid rgba(86, 80, 80, 0.6);
}

/* keyframe stuff */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* media queries */
@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

@media (max-width: 992px) {
  #profilePhotoContainer {
    padding: 10% 20% !important;
  }
}

@media (max-width: 576px) {
  #testimonials {
    height: 400px !important;
  }

  .carousel-item {
    height: 350px !important;
  }

  .container-fluid {
    padding: 0% !important;
    z-index: 5 !important;
  }

  #aboutMe {
    padding: 10% 0% !important;
  }

  .card {
    margin: 3% 3% !important;
    padding: 7% 7% !important;
  }

  .faqCard {
    margin: 0 !important;
    padding: 0 !important;
  }

  #recommendations {
    padding: 10% 0% !important;
  }

  #faq {
    padding: 10% 5% !important;
  }

  #contact {
    padding-top: 20% !important;
    padding-bottom: 0% !important;
  }

  #copyright {
    padding: 0% 10%;
  }
}

@media (max-width: 576px) {
  .btn {
    width: 80% !important;
  }

  .faqBtn {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    height: 470px !important;
  }

  #testimonials {
    height: 500px !important;
  }
}

@media (max-width: 1500px) {
  .navbar:not(.top-nav-collapse) {
    background: rgba(238, 232, 222, 0.7);
    border-bottom-color: transparent;
    border-bottom-width: 1px;
  }
}

@media (max-width: 570px) {
  .carousel-control.left {
    left: 0;
  }
  .carousel-control.right {
    right: 0;
  }
}
